---

---

<form id="contact-form">
  <input
    type="text"
    name="your-name"
    placeholder="Votre nom"
    required
  />
  <input
    type="email"
    name="your-email"
    placeholder="Votre email"
    required
  />
  <textarea
    name="your-message"
    placeholder="Votre message"
    required
  >
  </textarea>
  <button type="submit">Envoyer</button>
</form>

<script is:inline>
  document
    .getElementById("contact-form")
    .addEventListener("submit", async (e) => {
      e.preventDefault();

      const form = e.target;
      const formData = new FormData(form);

      formData.append("_wpcf7_unit_tag", "wpcf7-f270-p0-o1");

      const response = await fetch(
        "https://invest-astro.othman-bensaoula.com/wp-json/contact-form-7/v1/contact-forms/270/feedback",
        {
          method: "POST",
          body: formData,
        }
      );

      const result = await response.json();

      if (result.status === "mail_sent") {
        console.log("Envoyé");
        form.reset();
      } else {
        console.log("Nope !");
      }
    });
</script>
